.ProfileCard {
  font-family: "PlusJakartaSans-Medium";
  background-color: #fdfaf7;
  width: 100%;
  height: 500px;
}
.ProfileModalHead {
  font-family: "PlusJakartaSans-Medium";
  border-bottom: none !important;
  padding-left: 5px;
  padding-right: 5px;
}
.ProfileImage {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  border: 2px solid #027cff;
  margin-left: 10px;
}
.ClientName {
  font-family: "PlusJakartaSans-Medium";
  font-size: 20px;
  font-weight: 600 !important;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #0a0425 !important;
  margin-left: 20px;
  margin-bottom: 10px;
}
.ReviewText {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0a0425;
}
.PointText {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 124%;
  text-transform: capitalize;
  color: #0a0425;
  margin-top: 20px;
}
.BasedText {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 124%;
  text-transform: capitalize;
  color: #524d63;
}
.ErrorIcon {
  transform: rotate(180deg);
  color: #7e868c;
  width: 23px;
  height: 23px;
  margin-left: -8px;
  margin-top: 5px !important;
}
.ProgresNumber {
  font-family: "PlusJakartaSans-Medium";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  color: black;
}
.CalenderIcon {
  background-color: #efefef;
  color: #9490a1;
  padding: 4px;
  font-size: 24px;
  border-radius: 15px;
  margin-right: 12px;
}
.ProfileRatingText {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 124%;
  text-transform: capitalize;
  color: #524d63;
}
.HeartIcon {
  background-color: #efefef;
  color: #f47917;
  padding: 4px;
  font-size: 24px;
  border-radius: 15px;
  margin-right: 12px;
}
.IoIosShareAlt {
  height: 15px;
  width: 17px;
}
.FavoriteIcon {
  height: 14px;
  width: 14px;
}
.ProfileWhiteButton {
  margin-top: 20px !important;
  box-shadow: 4px 6px 40px rgba(125, 130, 141, 0.25);
  background-color: white !important;
  color: #027cff !important;
  padding-top: 10px !important;
  padding-left: 15px !important;
  padding-right: 16px !important;
  padding-bottom: 12px !important;
  margin-right: 10px !important;
  font-family: "Playfair Display" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 124% !important;
}
@media (max-width: 410px) {
  .ProfileWhiteButton {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
}
.SecondHeading {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 124%;
  margin-top: 44px !important;
  text-transform: capitalize;
  text-align: left;
  color: #0a0425;
  padding-left: 52px !important;
}
.SecondText {
  margin-top: 15px !important;
  font-family: "PlusJakartaSans-Medium";
  font-size: 16px;
  font-weight: 400;
  width: 85% !important;
  line-height: 160%;
  text-align: left;
  padding-left: 52px !important;
  color: #3b3651;
}
.mainContainer {
  font-family: "PlusJakartaSans-Medium";
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 540px !important;
}
.SecondReviewText {
  margin-top: 2.8rem !important;
  font-family: "PlusJakartaSans-Medium";
  font-size: 23px;
  font-weight: 600;
  width: 10rem !important;
  color: #0a0425;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: center;
  background-color: #fdf6ed;
  padding: 15px 23px !important;
  margin-bottom: 18px;
  text-align: center;
  color: black;
  margin-left: 53px !important;
  border-radius: 10px;
}
.SecondDiv {
  box-shadow: 4px 6px 34px rgba(197, 201, 205, 0.25);
}
.SecondDivName {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 124%;
  text-transform: capitalize;
  color: #0a0425;
  text-align: left;
}
.SecondProfileImage {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border-radius: 50%;
}
.VerifiedIcon {
  color: #027cff;
  background-color: #fff6f6;
  border-radius: 20px;
  font-size: 31px;
  padding: 7px;
  margin-top: -7px;
  margin-left: 30px;
}
.VerifiedText {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  color: #027cff;
  text-transform: capitalize;
  margin-top: -7px;
  margin-left: 8px;
}
.VerifiedDate {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  text-transform: capitalize;
  text-align: left;
  margin-top: 5px !important;
  color: #94969f;
  margin-left: 43px !important;
}
.VerifiedPeragraph {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #3b3651;
  text-align: left;
  width: 85% !important;
  margin-top: 13px !important;
  padding-left: 54px !important;
}
.DisplayDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px !important;
}
.Question {
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 124%;
  text-transform: capitalize;
  text-align: left;
}
.QuestionAns {
  color: #3b3651;
  font-style: normal;
  font-weight: 400;
  font-size: 13.75px;
  line-height: 18px;
  background-color: #fdf6ed;
  padding: 4px 16px 4px 16px !important;
  border-radius: 20px;
  border: 0.4125px solid #e1e3e3;
  margin-left: 18px;
}
.Linediv {
  border-top: 1px solid #6980ab;
  height: 1px;
  width: 80px;
  margin-bottom: 10px !important;
}
.SpaceDiv {
  height: 20px;
  background: #f5f5f5;

  width: 100% !important;
}
.TabPannelDiv {
  margin-left: -7rem;
}
@media (max-width: 992px) {
  .TabPannelDiv {
    margin-left: -3rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .TabPannelDiv {
    margin-left: 0rem;
  }
  .MuiLinearProgress {
    width: 60%;
  }
}
@media (max-width: 490px) {
  .ProfileWhiteButton {
    margin-right: 2px;
    font-size: 10px !important;
    width: 170px !important;
    height: 38px !important;
  }
}
.LineStyle {
  background-color: #d9dee4 !important;
  color: #027cff !important;
  height: 8px !important;
  margin-top: 10px !important;
}
.ProfileWhiteButtonLast {
  margin-top: 45px !important;
  box-shadow: 4px 6px 40px rgba(66, 76, 103, 0.25);
  background-color: white !important;
  color: #027cff !important;
  font-family: "PlusJakartaSans-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 124%;
  text-transform: capitalize;
  padding: 14px 20px !important;
}
.TabOne {
  margin-top: 50px !important;
}
.Tabcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.BorderTab {
  font-family: "PlusJakartaSans-Medium";
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  color: white !important;
  font-size: 14px;
  border-radius: 30px;
  color: #524d63 !important;
  border: none !important;
  padding: 12px 34px;
  cursor: pointer;
}
.activeTab {
  background-color: #027cff;
  color: white !important;
}
@media (max-width: 700px) {
  .BorderTab {
    padding: 5px 10px !important;
  }
  .ProfileImage {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1000px) {
  .BorderTab {
    font-size: 12px !important;
  }
}
.sliderCardContainer {
  width: 240px;
  min-height: 170px !important;
  border-radius: 3.9548px;
  border: 1px solid #e3edee;
  padding: 11px;
}
.sliderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sliderCardImg {
  height: 27px;
  width: 27px;
  border-radius: 50% !important;
}
.swiperMainContainer {
  height: 30vh;
}
.sliderClientName {
  font-family: "PlusJakartaSans-Medium";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}
.SliderVerifiedIcon {
  width: 14.76px;
  height: 14.76px;
  color: #027cff;
  background-color: #fff6f6;
  border-radius: 20px;
}
.SliderVerifiedText {
  font-family: "PlusJakartaSans-Medium";
  color: #027cff;
  font-size: 12px !important;
}
.SliderVerifiedDate {
  font-family: Taviraj;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #94969f;
}
.sliderContentContainer {
  font-family: "PlusJakartaSans-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  overflow: auto !important;
  margin-top: 6px !important;
  height: 58px;
}
