@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");
.body {
  font-family: "Playfair Display", serif;
}
.Header {
  background-color: white !important;
}
.CardColor {
  background-color: white !important;
}
.HeadRight {
  float: right !important;
}
.ZouluButton {
  display: flex !important;
  font-family: "Playfair Display", serif;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 25px !important;
  text-transform: none !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ActiveButton {
  color: white !important;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.06));
  background: #30d5c8 !important;
}
.DisabledButton {
  color: white !important;
  background-color: #bababa !important;
}
.WidthPeragraph {
  width: 70% !important;
}
.CommonPeragraph {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  height: 50px;
}
.Card {
  background: #ffffff;
  box-shadow: 6px 8px 46px rgba(58, 68, 91, 0.25);
  border-radius: 10px;
  width: 95%;
  margin-top: 10px;
}
.ActiveCard {
  background: #30d5c8;
  box-shadow: 6px 8px 46px rgba(58, 68, 91, 0.25);
  border-radius: 10px;
  width: 95%;
  margin-top: 10px;
}
.ModalHeader {
  border-bottom: none !important;
}
.ModalFooter {
  border-top: none !important;
}
.BottomTopMargin {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.CenterData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* index.css */
.BookingDiv {
  width: 100%;
  background-color: #faf7f3;
}
.BgColor {
  background-color: #faf7f3;
}
.PaddingLeft {
  padding: 50px 140px 70px 70px;
}
.MainText1 {
  font-family: "Playfair Display";
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}
.RightPic {
  margin-top: 50px !important;
  width: 80%;
  height: 81%;
}
.MainSmallText {
  height: 60px;
  width: 533px;
  left: 135px;
  top: 445px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.CommonClass {
  margin-top: 60px;
  display: flex;
  align-items: center;
  width: 70%;
}
.ColoredButton {
  height: 50px !important;
  padding: 9px 33px 9px 33px !important;
}
.BorderButton {
  background-color: transparent !important;
  color: #30d5c8 !important;
  border: 1px solid #30d5c8 !important;
  height: 50px !important;
  margin-left: 2rem !important;
}
.HowItWorkText {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  font-family: "playfair Display";
}
.DisplayDiv {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important    ;
  flex-direction: column;
  margin-top: 90px;
}
.WorkText {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}
.WorkBookBtn1 {
  margin-top: 20px;
  height: 51px !important;
  width: 9rem !important;
}
.WorkBookBtn {
  padding: 12px 40px 12px 40px !important;
}
.CardHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.LeftMargin {
  margin-right: 100px !important;
}
.CrdImg {
  width: 90px;
  height: 90px;
}
.CardPaddingDiv {
  padding-top: 60px;
  padding-right: 45px;
  padding-bottom: 6rem;
  padding-left: 45px;
}
.BlueCardDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: #0a0425;
  color: white;
}
.CircleParant {
  position: absolute !important;
  top: 26rem;
  left: 29rem;
  right: 67rem !important;
  left: -13rem !important;
}
.SliderCircle {
  width: 15px !important;
  height: 15px !important;
  background-color: #30d5c8 !important;
  border-radius: 40px !important;
}
.BlueCardHead {
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "playfair Display";
}
.BlueCardText {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.PaddingLeftPhone {
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FloatRight {
  margin-right: -2rem !important;
}
.RightPicSecond {
  width: 36%;
  margin-top: 40px;
  margin-left: 115px;
  height: 480px;
}
.GooglePic {
  width: 60%;
  height: 100px;
  float: left;
  width: 180px;
  margin-top: 20px;
  height: 55px;
  margin-left: -20px !important;
}
.BlueCardAddress {
  display: flex;
  justify-content: space-between;
  padding-top: 40px !important;
  padding-bottom: 50px !important;
  color: white;
  padding-bottom: 25px;
}
.ColorDiv {
  background-color: #0a0425;
}
.HeadLocation {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #faf7f3;
  letter-spacing: 0.01em;
  text-align: left;
  font-family: "PlusJakartaSans-Medium";
}
.HeadLocationcall {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: rgba(253, 246, 237, 0.8);
  letter-spacing: 0.01em;
  text-align: left;
  font-family: "playfair Display";
}
.FooterInputs {
  width: 168px !important;
  margin-left: -17px !important;
  border-radius: 30px !important;
  height: 45px !important;
  border: 1px solid black !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-family: "PlusJakartaSans-medium" !important;
  font-size: 20px !important;
  background-color: transparent !important;
}
.AddresText {
  font-family: "Playfair Display";
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  color: rgba(253, 246, 237, 0.8);
}
.DisplayDivReady {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: column;
  width: 100% !important;
  padding-bottom: 20px !important;
  padding: 0px !important;
}
.MarginContact {
  margin-left: 26px !important;
}
.imgmarginleft {
  margin-left: -19px !important;
}
.DisplayDivZoulu {
  display: flex !important;
  align-items: center !important;
  flex-direction: column;
  width: 100% !important;
  justify-content: center;
  height: 18rem;
  background-color: #faf7f3 !important;
}
.QuestionsPadding {
  padding: 80px 60px 10rem 120px;
}
.QuestionsContainer {
  height: fit-content;
  width: 50%;
  border: 1px solid #f9d29e;
}
.QuestionHeading {
  font-size: 18px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.ColorDivSlider {
  width: 100px;
  height: 290px;
  margin-top: 170px;
  background-color: #30d5c8;
}
.ActiveQuestion {
  color: white !important;
}
/* Slider css */
.SlideOneContainer {
  width: 80%;
  position: relative;
  height: 460px;
  border-radius: 5px;
  background-color: #faf7f3;
  padding-top: 70px;
  padding-left: 40px;
}
.DisplayDivWrk {
  margin-top: 30px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column;
  justify-content: center !important;
  text-align: center !important;
}
.BackgroundColorSmall {
  width: 80%;
  height: 280px;
  margin-top: -13rem;
  background-color: #faf7f3 !important;
}
.SliderHeading {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}
.SecondHeadin {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.SliderDesignation {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.SliderText {
  font-family: Roboto !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 62% !important;
}
.SliderImage {
  position: absolute !important;
  width: 355px !important;
  height: 400px !important;
  right: -100px !important;
  top: 125px !important ;
}
.Arrows {
  position: absolute !important;
  width: 7rem;
  height: 60px;
  top: 5rem;
  right: 40rem;
}
.ArrowOne {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}
.IconClass {
  font-size: 32px;
  margin-top: -10px;
  margin-left: 12px;
}
.IconClass1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: -23px;
}
.LoginRightPic {
  width: 90%;
  height: 80%;
  margin-top: 20px;
}
.CrosIcon {
  display: flex;
  justify-content: flex-end;
}
.ModalHeading {
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: nullpx;
}
.paddingLeftLogin {
  padding-left: 40px !important;
}
.ModalSecondHeading {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.InputFields {
  width: 280px;
  height: 55px;
  padding: 5px;
  border: 1px solid #5e6470;
  border-radius: 10px;
  background-color: #faf7f3 !important;
}
.ForgetText {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  width: 17rem;
  letter-spacing: 0em;
  margin-top: 10px !important;
  text-align: right;
}
.LoginModalBtn {
  font-size: 18px;
  padding: 10px 17px 10px 17px;
  width: 280px;
  margin-top: 2rem !important;
  font-weight: 500;
}
.RecoveryModalBtn {
  margin-top: 12rem !important;
  width: 85%;
}
.ResPasModalBtn {
  margin-top: 12rem !important;
  width: 90% !important;
}
.ModalSignupText {
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.RecoverySecondHeading {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  width: 50%;
}
.RecoveryCode1 {
  height: 85px;
  width: 85px;
  left: 173px;
  top: 299px;
  border-radius: 12px;
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: Playfair Display;
  font-size: 31px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
}
.CodeBoxDicves {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.RecoveryQuestion {
  margin-top: 15px !important;
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  margin-left: 20%;
}
.RecoveryUnderlineText {
  border-bottom: 2px solid black;
  color: black !important;
  font-weight: 600;
}
.ResPasPadding {
  padding-left: 110px;
}
.InputFieldsResetPassword {
  width: 40%;
  height: 50px;
  padding: 5px;
  border: 1px solid #5e6470;
  border-radius: 10px;
  background-color: #faf7f3;
}
.InputLabel {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.FourInputs {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SliderCont {
  height: fit-content !important;
}
.FooterHeading {
  font-family: "PlusJakartaSans-Medium";
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.FooterText {
  font-family: "PlusJakartaSans-Medium";
  height: 26px;
  width: fit-content;
  left: 115px;
  top: 2065px;
}
.SocialMedia {
  margin-right: 5px;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #027cff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GoogleImageFooter {
  width: 160px !important;
  height: 57px !important;
  float: left;
}
.newslterImageFooter {
  width: 160px !important;
  height: 88px !important;
  float: left;
}
.FooterImage {
  width: 200px !important;
  height: 100px !important;
  margin-left: 25px;
}
.FooterButton {
  padding-left: 48px !important;
  padding-right: 48px !important;
  background-color: #027cff !important;
  margin-left: -17px !important;
}
.ActiveClass {
  font-family: "Playfair Display";
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 31px;
  letter-spacing: 0em;
  color: #0a0425;
}
.UnActiveClass {
  font-family: "Playfair Display";
  font-size: 14px !important;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: #0a0425;
}
.FooterButtonBorder {
  padding-left: 60px !important;
  padding-right: 70px !important;
  margin-left: -10px;
  background-color: white !important;
  color: black !important;
}
@media (max-width: 1200px) {
  .DisplayRightDiv {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .FourInputs {
    width: 100%;
  }
  .ResPasPadding {
    padding-left: 0px !important;
  }
  .InputFieldsResetPassword {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid #5e6470;
    border-radius: 10px;
    background-color: #faf7f3;
  }
}
@media (max-width: 800px) {
  .ResPasPadding {
    padding-left: 50px;
  }
  .InputFieldsResetPassword {
    width: 80%;
    height: 50px;
  }
}
.BackColor {
  background-color: #0a0425 !important;
}
.AcordianColor {
  background-color: #0a0425 !important;
}
@media (max-width: 600px) {
  .SliderImage {
    position: absolute !important;
    width: 400px !important;
    height: 350px !important;
    top: 30rem !important;
    left: 2rem !important;
    z-index: 2;
  }
}
@media (max-width: 1240px) {
  .CommonClass {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .SliderHeading {
    font-size: 30px !important;
  }
}
@media (max-width: 710px) {
  .BlueCardAddress {
    margin-left: -100px !important;
  }
  .HeadLocation {
    font-size: 15px;
  }
}
@media (max-width: 665px) {
  .BlueCardAddress {
    margin-left: -50px !important;
  }
  .HeadLocation {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .BlueCardAddress {
    margin-left: -20px !important;
  }
  .HeadLocation {
    font-size: 15px;
  }
}
@media (max-width: 455px) {
  .BlueCardAddress {
    margin-left: -38px !important;
  }
  .HeadLocation {
    font-size: 15px !important;
    margin-left: -20px;
  }
  .ContactSize {
    width: 20px !important;
  }
  .AddresText {
    font-size: 13px !important;
    margin-left: -15px !important;
  }
}
@media (max-width: 450px) {
  .MainText1 {
    font-size: 40px;
  }
  .InputFields {
    width: 150px !important;
    height: 55px;
    padding: 5px;
    border: 1px solid #5e6470;
    border-radius: 10px;
    background-color: #faf7f3 !important;
  }
}
@media (max-width: 1000px) {
  .LEftPad {
    padding-left: 10px !important;
  }
  .SliderText {
    width: 99% !important;
  }
  .SlideOneContainer {
    height: 46rem;
    width: 100% !important;
  }
  .ResponsiveBackDiv {
    position: absolute;
    height: 500px;
    width: 50% !important;
    left: 43%;
    top: 65%;
    background-color: #30d5c8;
    border-bottom: 15px solid black;
    z-index: 1;
  }
  .SliderImage {
    position: absolute !important;
    width: 56% !important;
    height: 418px !important;
    top: 68% !important;
    left: 2rem !important;
    z-index: 2;
  }
  .ColorDivSlider {
    display: none !important;
  }
  .Arrows {
    display: none !important;
  }
  .ArrowOne {
    display: none !important;
  }
  .QuestionsPadding {
    padding: 80px 60px 0rem 120px;
  }
  .LeftMargin {
    margin-right: 10px !important;
  }
}
@media (max-width: 424px) {
  .ResponsiveBackDiv {
    position: absolute;
    height: 365px;
    width: 50% !important;
    left: 43%;
    top: 84%;
    background-color: #30d5c8;
    border-bottom: 15px solid black;
    z-index: 1;
  }
  .SliderImage {
    position: absolute !important;
    width: 56% !important;
    height: 320px !important;
    top: 86% !important;
    left: 2rem !important;
    z-index: 2;
  }
}
@media (min-width: 1000px) and (max-width: 1270px) {
  .Arrows {
    right: 20rem;
  }
}

@media (max-width: 700px) {
  .RightPicSecond {
    width: 35%;
    margin-top: -22rem;
    margin-left: 18rem;
    height: 16rem;
  }
}
@media (max-width: 565px) {
  .HowItWorkText {
    padding-left: 10px;
  }
  .SlideOneContainer {
    padding-left: 10px;
  }
  .QuestionsPadding {
    padding: 80px 60px 70px 1px;
  }
  .RightPicSecond {
    width: 35% !important;
    margin-top: -14rem !important;
    margin-left: 12rem !important;
    height: 12rem !important;
  }
  .GooglePic {
    margin-left: -35px;
    margin-top: 35px;
  }
  .PaddingLeft {
    padding: 50px 0px 14px 10px;
  }
  .CommonClass {
    width: 92% !important;
  }
}
@media (max-width: 400px) and (min-width: 564px) {
  .RightPicSecond {
    width: 25% !important;
    margin-top: -14rem !important;
    margin-left: 12rem !important;
    height: 9rem !important;
  }
}
@media (max-width: 400px) {
  .RightPicSecond {
    width: 29% !important;
    margin-top: -20rem !important;
    margin-left: 11rem !important;
    height: 8rem !important;
  }
  .GooglePic {
    margin-left: 0px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
  }
  .WidthPeragraph {
    width: 100% !important;
  }
}
@media (max-width: 992px) {
  .RecoveryQuestion {
    margin-left: 15%;
  }
  .RightPicSecond {
    width: 35%;
    margin-top: -22rem;
    margin-left: 23rem;
    height: 16rem;
  }
  .LoginRightPic {
    width: 80% !important;
    height: 15rem !important;
    margin-top: 20px !important;
    margin-left: 50px;
  }
  .WidthPeragraph {
    width: 90% !important;
  }
  .GooglePic {
    margin-left: -13px;
  }
}
@media (max-width: 455px) {
  .LoginRightPic {
    width: 90% !important;
    height: 12rem !important;
    margin-top: 20px !important;
    margin-left: 30px !important;
  }
}
@media (max-width: 500px) {
  .InputFields {
    width: 200px;
    height: 55px;
    padding: 5px;
    border: 1px solid #5e6470;
    border-radius: 10px;
    background-color: #faf7f3 !important;
  }
  .ForgetText {
    font-size: 18px !important;
    text-align: center !important;
    cursor: pointer;
  }
  .LoginModalBtn {
    padding: 10px 17px 10px 17px !important;
    width: 200px !important;
  }
}
@media (max-width: 449px) {
  .LoginModalBtn {
    width: 158px !important;
  }
}
@media (max-width: 768px) {
  .RecoveryCode1 {
    left: 73px;
    top: 199px;
    width: 50px;
  }
  .RecoveryQuestion {
    margin-left: 4%;
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .CircleParant {
    position: absolute !important;
    top: 26rem;
    left: 29rem;
    right: 40rem !important;
    left: -13rem !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .CircleParant {
    position: absolute !important;
    top: 26rem;
    left: 29rem;
    right: 40rem !important;
    left: -13rem !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .CircleParant {
    position: absolute !important;
    top: 27.5rem;
    left: 30rem;
    right: 40rem !important;
    left: -13rem !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
  .CircleParant {
    position: absolute !important;
    top: 26rem;
    left: 20rem;
    right: 35rem !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .CircleParant {
    position: absolute !important;
    top: 26rem;
    right: 25rem !important;
  }
}
@media screen and (min-width: 510px) and (max-width: 700px) {
  .CircleParant {
    position: absolute !important;
    top: 26rem;
    right: 10rem !important;
  }
  .imgmarginleft {
    margin-left: 1px !important;
  }
}
@media screen and (min-width: 400px) and (max-width: 510px) {
  .CircleParant {
    position: absolute !important;
    top: 30rem;
    right: 8rem !important;
  }
  .imgmarginleft {
    margin-left: 1px !important;
  }
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .CircleParant {
    position: absolute !important;
    top: 38rem;
    right: 1rem !important;
  }
  .imgmarginleft {
    margin-left: 1px !important;
  }
}
@media screen and (min-width: 200px) and (max-width: 300px) {
  .CircleParant {
    position: absolute !important;
    top: 38rem;
    right: 0rem !important;
  }
}
@media (max-width: 310px) {
  .ColoredButton {
    height: 40px !important;
    font-size: 10px !important;
  }
  .BorderButton {
    height: 40px !important;
    font-size: 10px !important;
  }
}
.LEftPad {
  padding-left: 80px;
}
.ManageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  .ManageFooter {
    display: flex;
    display: block;
    flex-direction: column;
  }
  .FooterImage {
    width: 200px !important;
    height: 100px !important;
    margin-left: -14px;
  }
}
.webversionFooterMargin {
  padding-left: 93px;
}
@media screen and (min-width: 260px) and (max-width: 400px) {
  .webversionFooterMargin {
    padding-left: 16px;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .webversionFooterMargin {
    padding-left: 23px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1300px) {
  .webversionFooterMargin {
    padding-left: 58px;
  }
}
